DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/pos_db?schema=public"

JWT_SECRET="your-access-token-secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-refresh-token-secret"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3000
